#root{
  --red1-main:#df394f;
  --red2-main:#ca2b41;
  --red3-main:#b51d32;
  --red4-main:#a00e24;
  --red5-main:#8b0015;
  --backgroun-color:#f1f1fe;
  --white-main:#ffffff;
  --black-main:#5b758f;
}

.loginContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

.contentLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background:#ffffff ;
}
.btnlogin{
  background: linear-gradient(
  60deg,
  hsl(240deg 100% 20%) 0%,
  hsl(269deg 100% 21%) 0%,
  hsl(285deg 100% 21%) 1%,
  hsl(298deg 100% 21%) 2%,
  hsl(310deg 100% 25%) 5%,
  hsl(318deg 100% 29%) 8%,
  hsl(324deg 100% 32%) 12%,
  hsl(329deg 100% 36%) 16%,
  hsl(333deg 100% 39%) 21%,
  hsl(336deg 100% 42%) 26%,
  hsl(340deg 99% 45%) 32%,
  hsl(351deg 86% 55%) 37%,
  hsl(0deg 93% 61%) 44%,
  hsl(9deg 100% 61%) 50%,
  hsl(17deg 100% 59%) 56%,
  hsl(24deg 100% 57%) 63%,
  hsl(31deg 100% 54%) 70%,
  hsl(38deg 100% 50%) 76%,
  hsl(42deg 100% 50%) 83%,
  hsl(47deg 100% 50%) 89%,
  hsl(51deg 100% 50%) 95%,
  hsl(55deg 100% 50%) 100%
);
color: #ffffff;
border-radius: 10px;
}