.containerPage{
    width: 100%;
    min-height: 100vh;
    padding:1rem 2rem;
}
.contentPage{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.IconAccion{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.icon{
    cursor: pointer;
    font-size: 1.5rem;
}
.icon.edit{
    color: #3fa7d6;
}
.icon.view{
    color: #59cd90;
}
.icon.delete{
    color: #ee6352;
}
.btnAdd{
    background: #3fa7d6;
    border-radius: 5px;
    color: aliceblue;
}
.headTable{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    gap: 1rem;
}
.inputSearch{
    width: 15rem;
}

.btnAdd{
    padding: 0 1rem;
    color: #fff;
}
.btnAdd:hover{
    background-color: #ee6352;
}
.hora{
    border: 1px solid #e8e8e8;
    padding: .5rem 1rem;
}
.selectDoctor{
    border: 1px solid #e8e8e8;
}

.containerPacienteDetalle{
    width: 100%;
    border: 1px solid #ef233c;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.containerPacienteDetalle.encontrado{
    border: 1px solid #59cd90;
}
